/**
 * @authors Tr 提亞
 * @date    2014-12-21
 */
/* ==========================================================================
   分類目錄(CONTENTS)        可直接透過目錄搜尋到對應區塊
   ==========================================================================
 * 分類目錄..................(CONTENTS)
 * 網站預設值................(RESET)
 * 共用樣式..................(COMMON CLASS)
 *
 * 基本樣式................(INDEX)
 * 選單................(INDEX)
 ==========================================================================*/
/* ==========================================================================
  網站預設值
  ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  text-align: center;
}
a {
  color: #00b7ff;
  display: inline-block;
  text-decoration: none;
  color: #f00;
}
h1,
h2,
h3,
h4,
h5 {
  display: inline-block;
}
aside,
section {
  height: 100%;
  position: relative;
  vertical-align: top;
}
/* ==========================================================================
  共用class
  ========================================================================== */
.left {
  float: left;
}
.right {
  float: right;
}
/* ==========================================================================
  版型設定
  ========================================================================== */
.header {
  background-color: #ddd;
  height: 60px;
  padding: 10px;
}
.inner {
  margin: 0 auto;
  padding: 20px 10px;
}
.content {
  width: 1200px;
  margin: auto;
  text-align: left;
  position: relative;
}
.footer {
  position: relative;
  width: 100%;
}
.dialog {
  position: absolute;
  bottom: 0px;
  height: 0px;
  width: 100%;
}
/* header
   ========================================================================== */
.header .user-nav {
  display: none;
  text-align: center;
}
.header .search-box {
  display: none;
}
.header-box {
  position: absolute;
  z-index: 5;
  left: 150px;
  top: 20px;
}
/* nav
   ========================================================================== */
.nav ul {
  font-size: 0;
  letter-spacing: -4px;
}
.nav li {
  letter-spacing: normal;
  display: inline-block;
  *display: inline;
  font-size: 16px;
  *zoom: 1;
  padding: 5px;
}
/* controls
   ========================================================================== */
.controls-icon li {
  display: inline-block;
}
/* footer對話框
   ========================================================================== */
.dialog-box {
  position: relative;
  top: -300px;
  height: 300px;
  background-color: #ddd;
  width: 300px;
  float: right;
  margin-right: 10px;
}
