/**
 * @authors Tr 提亞
 * @date    2014-12-21
 */
/* ==========================================================================
   分類目錄(CONTENTS)        可直接透過目錄搜尋到對應區塊
   ==========================================================================
 * 分類目錄..................(CONTENTS)
 * 網站預設值................(RESET)
 * 共用樣式..................(COMMON CLASS)
 *
 * 基本樣式................(INDEX)
 * 選單................(INDEX)
 ==========================================================================*/
/* ==========================================================================
   網站預設值
   ========================================================================== */
.container {
  width: 1000px;
  position: relative;
}
.controls {
  width: 200px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.controls p {
  cursor: pointer;
}
.controls li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.controls .change-blog {
  display: none;
}
/* 網站預設值
   ========================================================================== */
.controls-blog {
  position: absolute;
  right: 0px;
  z-index: 5;
}
