/**
 * @authors Tr (ART)
 * @date    2015-3-23
 */
/* ==========================================================================
   分類目錄(CONTENTS)        可直接透過目錄搜尋到對應區塊
   ==========================================================================
 * 網站樣式統一重製reset................(RESET)
 * xmixins庫................(RESET)
 * css3動畫................(RESET)
 * 下拉是選單................(RESET)
 ==========================================================================*/
/* 瀏覽器樣式統一reset
   ==========================================================================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote before,
blockquote after,
q before,
q after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  font-family: Arial, Microsoft JhengHei, Microsoft YaHei, Helvetica, sans-serif;
  font-size: 16px;
  height: 100vh;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: "Yu Gothic", SimHei;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  font-size: 0;
  letter-spacing: -4px;
}
li {
  font-size: 14px;
  display: inline-block;
  letter-spacing: normal;
  *display: inline;
  *zoom: 1;
}
img {
  max-height: 100%;
  max-width: 100%;
}
input {
  outline: none;
}
textarea {
  outline: none;
  resize: none;
}
/* xmixins庫及css3動畫
   ==========================================================================*/
.moveleft620 {
  -webkit-animation: moveleft620;
  -moz-animation: moveleft620;
  -o-animation: moveleft620;
  animation: moveleft620;
}
/* 通用class
   ==========================================================================*/
.show {
  display: block;
}
/* ==========================================================================
   網站樣式
   ==========================================================================*/
body {
  background: #f0f0f0;
  color: #4b4b4b;
}
header {
  padding-top: 20px;
  position: relative;
  text-align: left;
}
header .title {
  padding-left: 20px;
  text-align: left;
}
header h1 {
  font-size: 22px;
  padding-bottom: 10px;
  color: #727170;
  width: 100%;
}
header h2 {
  float: left;
  color: #969696;
}
header .follow {
  position: absolute;
  right: 20px;
  top: 25px;
}
header .follow .icon {
  width: 33px;
  height: 33px;
  padding: 4px;
  border-radius: 3px;
  -webkit-transition: background 0.2s linear, box-shadow 0.2s linear;
  -moz-transition: background 0.2s linear, box-shadow 0.2s linear;
  -o-transition: background 0.2s linear, box-shadow 0.2s linear;
  transition: background 0.2s linear, box-shadow 0.2s linear;
}
header .follow .icon:hover {
  background: #f6f6f6;
  -moz-box-shadow: 0px 0px 10px 0px #bbb;
  -webkit-box-shadow: 0px 0px 10px 0px #bbb;
  box-shadow: 0px 0px 10px 0px #bbb;
}
aside {
  position: fixed;
  text-align: center;
  width: 100px;
  height: 100%;
  z-index: 10;
  vertical-align: top;
  background: #90c3d2;
}
nav >a {
  display: block;
  padding: 10px 25px;
  background: #90c3d2;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
nav >a >span {
  font-size: 16px;
  color: #f0f0f0;
}
nav >a:hover {
  background: #5ea2b6;
}
nav .menu-icon {
  height: 35px;
  width: 30px;
}
nav .now {
  background: #e8bf3b;
}
#gotop {
  position: absolute;
  background: #5ea2b6;
  padding: 10px;
  bottom: 0px;
  width: 100%;
  cursor: pointer;
}
#gotop .gotop-icon {
  width: 25px;
  height: 25px;
}
.tags-box {
  padding: 10px 25px;
  background: #90c3d2;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.tags-box .menu-icon {
  padding-top: 5px;
}
.tags-box >span {
  color: #f0f0f0;
}
.tags-box .tags {
  overflow: hidden;
  width: 0px;
  -webkit-transition: width 0.2s linear;
  -moz-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  transition: width 0.2s linear;
  background: #5ea2b6;
  text-align: left;
  position: absolute;
  top: 0px;
  z-index: 20;
  height: 100%;
  left: 100px;
}
.tags-box .tags .box {
  margin: 10px 0;
  position: absolute;
  left: -120px;
  width: 120px;
  -webkit-transition: left 0.2s linear;
  -moz-transition: left 0.2s linear;
  -o-transition: left 0.2s linear;
  transition: left 0.2s linear;
}
.tags-box .tags a {
  color: #d9fffe;
  height: 30px;
  font-size: 14px;
  line-height: 25px;
  background: #5ea2b6;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  display: block;
  padding: 3px 10px;
}
.tags-box .tags a:hover {
  background: #398196;
}
.tags-box .tags span {
  font-size: 10px;
}
.tags-box .tags .tags-icon {
  width: 10px;
  height: 10px;
}
.tags-box:hover {
  background: #5ea2b6;
}
.tags-box:hover .tags {
  width: 120px;
}
.tags-box:hover .box {
  left: 0px;
}
input,
textarea {
  width: 100%;
  border: 0;
  padding: 5px;
  color: #bbb;
}
.main {
  text-align: center;
  vertical-align: top;
  margin-left: 100px;
  padding-bottom: 20px;
}
.main .inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}
.archives {
  text-align: left;
  padding: 10px;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
}
article {
  padding-bottom: 10px;
}
article h2 {
  font-size: 30px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
}
article .data {
  color: #a0a0a0;
  font-size: 14px;
  padding-left: 10px;
}
article .goto-icon {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 10px;
}
article .tags-icon {
  width: 10px;
  height: 10px;
}
article .tags {
  margin: 10px 0;
}
article .tags a {
  color: #727170;
  margin-right: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  -webkit-transition: border-bottom 0.2s linear;
  -moz-transition: border-bottom 0.2s linear;
  -o-transition: border-bottom 0.2s linear;
  transition: border-bottom 0.2s linear;
}
article .tags a:hover {
  border-bottom: 1px solid #727170;
}
.word {
  padding-bottom: 20px;
}
.word p {
  margin-bottom: 15px;
  line-height: 30px;
}
.word a {
  display: block;
}
.word .em {
  max-width: 853px;
  position: relative;
  padding-bottom: 51.064%;
  display: block;
  margin: 0 auto;
}
.word img {
  margin: 0px auto;
  display: block;
}
.word hr:first-of-type {
  border: 0px;
}
.word .iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.other {
  border-radius: 3px;
  padding: 10px;
  margin-top: 20px;
  background: #ededed;
  position: relative;
}
.other a {
  position: absolute;
  padding: 40px 5px;
  background: #fff;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -webkit-transition: box-shadow 0.2s linear;
  -moz-transition: box-shadow 0.2s linear;
  -o-transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
}
.other a:hover {
  -moz-box-shadow: 0 5px 8px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 5px 8px rgba(0,0,0,0.2);
  box-shadow: 0 5px 8px rgba(0,0,0,0.2);
}
.other .page-icon {
  height: 40px;
  width: 40px;
}
.other .left-page {
  left: -100px;
}
.other .right-page {
  right: -100px;
}
.comments {
  font-size: 24px;
  padding: 50px 0 15px 0;
}
.list {
  text-align: center;
  column-width: 340px;
  column-gap: 16px;
  padding: 15px;
}
.list .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
}
.list .goto-icon {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 10px;
}
.list .box {
  background: #fff;
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 10px;
  padding: 20px;
  width: 340px;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -webkit-transition: box-shadow 0.2s linear;
  -moz-transition: box-shadow 0.2s linear;
  -o-transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
}
.list .box:hover {
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.list .pic {
  width: 300px;
  color: #868686;
  line-height: 20px;
  overflow: hidden;
  position: relative;
}
.list .pic p {
  margin-bottom: 10px;
  line-height: 30px;
}
.list img {
  width: 100%;
}
.list .in-box {
  text-align: left;
  color: #666;
}
.list .title {
  display: block;
}
.list .title:hover h3 {
  text-decoration: underline;
}
.list h3 {
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  color: #5ea2b6;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  margin-bottom: 5px;
}
.list .box:hover h3 {
  color: #ec8686;
}
.list .data {
  font-size: 12px;
}
.list .word {
  font-size: 14px;
  padding-top: 5px;
  line-height: 20px;
  height: 25px;
  overflow: hidden;
}
footer {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 10px;
  color: #666;
}
/* ==========================================================================
   RWD
   ==========================================================================*/
@media screen and (max-width: 980px) {
  body {
    background: #bbb;
  }
}
/* 電腦螢幕<788px */
@media screen and (max-width: 788px) {
  body {
    background: #ccc;
  }
}
/* 電腦螢幕<720px */
@media screen and (max-width: 720px) {
  body {
    background: #ddd;
  }
}
/* 電腦螢幕<480px */
@media screen and (max-width: 480px) {
  body {
    background: #eee;
  }
}
