/**
 * @authors Tr (ART)
 * @date    2015-3-23
 */
/* ==========================================================================
   分類目錄(CONTENTS)        可直接透過目錄搜尋到對應區塊
   ==========================================================================
 * 網站樣式統一重製reset................(RESET)
 * xmixins庫................(RESET)
 * css3動畫................(RESET)
 * 下拉是選單................(RESET)
 ==========================================================================*/
/* xmixins庫及css3動畫
   ==========================================================================*/
.moveleft620 {
  -webkit-animation: moveleft620;
  -moz-animation: moveleft620;
  -o-animation: moveleft620;
  animation: moveleft620;
}
/* 瀏覽器樣式統一reset
   ==========================================================================*/
@import "normalize.css";
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  font-family: Arial, Microsoft JhengHei, Microsoft YaHei, Helvetica, sans-serif;
  font-size: 16px;
  height: 100vh;
  line-height: 1;
  margin: 0;
  position: relative;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  max-height: 100%;
  max-width: 100%;
}
input {
  outline: none;
}
textarea {
  outline: none;
  resize: none;
}
/* 通用class
   ==========================================================================*/
.show {
  display: block;
}
a {
  color: #048696;
}
/* ==========================================================================
   網站樣式
   ==========================================================================*/
.cover {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1999;
  background: #f7f7f7;
}
body {
  background: #f7f7f7;
  color: #4b4b4b;
}
header {
  z-index: 20;
  position: fixed;
  text-align: center;
  width: 100%;
  background: rgba(33,33,33,0.6);
}
header h1 {
  margin: 0;
  font-size: 1.2em;
}
header .nav-li {
  color: #ec8686;
  font-size: 1.2em;
  line-height: 2.7em;
  padding: 0 20px;
  display: inline-block;
  cursor: pointer;
}
header .nav-li:hover {
  text-decoration: underline;
}
header .now {
  color: #eee;
}
.main {
  text-align: center;
}
.e-list {
  max-width: initial;
  padding: 0;
}
.e-list li {
  display: table;
  width: 100%;
}
.e-list div {
  display: table-cell;
}
.e-list .l-left,
.e-list .l-right {
  width: 45%;
}
.e-list .year {
  text-align: center;
}
.e-list .l-left {
  text-align: right;
}
.e-list .l-right {
  text-align: left;
}
.aside {
  position: fixed;
  text-align: center;
  height: 100%;
  top: 0px;
  z-index: 30;
  left: -100px;
  vertical-align: top;
  background: #00acc1;
}
.aside .close-menu {
  display: none;
  height: 40px;
  background: #656e71;
  color: #eee;
  line-height: 40px;
  cursor: pointer;
}
.aside .item {
  display: block;
  padding: 10px 25px;
  border-bottom: 1px solid #00bcd4;
  background: #00acc1;
  color: #97e3ed;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.aside .item:hover {
  background: #00bcd4;
}
.aside .menu-icon {
  height: 35px;
  width: 30px;
}
.aside .icon {
  width: 100%;
  font-size: 1.8em;
  margin: 0 auto 0.3em;
  display: block;
}
section {
  background: #eee;
  padding: 50px 0;
}
.inner {
  position: relative;
  top: 15%;
  max-width: 1000px;
  margin: 0 auto;
}
.inner h2 {
  text-align: center;
}
#tiya {
  background: url("http://tr-blank.github.io/images/1930571.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
#tiya .inner {
  max-width: 800px;
}
#tiya h1 {
  margin: 20px 0;
  text-align: center;
}
#tiya .wrapper {
  background: rgba(219,236,231,0.6);
  padding: 40px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}
#tiya p {
  line-height: 25px;
  font-size: 1.1em;
}
#tiya p a {
  color: #4b4b4b;
  text-decoration: underline;
  margin: 0 5px;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
#tiya p a:hover {
  color: #000;
}
#tiya h2 {
  text-align: center;
  margin-bottom: 50px;
}
#tiya .list {
  display: table;
  width: 100%;
  margin-top: 50px;
}
#tiya ul {
  display: table-cell;
  text-align: left;
  list-style-type: none;
  line-height: 25px;
}
#tiya li {
  position: relative;
  font-size: 1.1em;
}
#tiya li i {
  position: absolute;
  left: -30px;
  top: 4px;
}
.table {
  display: table;
  width: 100%;
}
.td {
  display: table-cell;
}
#skills h3 {
  text-align: center;
}
#skills .box {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
#skills ul {
  padding: 0;
  list-style-type: none;
  line-height: 1.5em;
}
#skills li {
  position: relative;
  display: table;
  width: 100%;
}
#skills li .icon {
  color: rgba(0,0,0,0.3);
  font-size: 1.3em;
  line-height: 1.3em;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
#skills li span {
  display: table-cell;
  width: 100px;
  text-align: right;
  vertical-align: middle;
}
#skills li .ui.progress {
  border: 0px;
  background: initial;
  margin-bottom: 0;
  display: table-cell;
}
#skills li .bar {
  line-height: 1.75em;
  position: relative;
}
#skills li a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 10;
  text-align: right;
  background-color: rgba(255,255,255,0);
  padding-right: 5px;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
#skills li a:hover {
  background-color: rgba(255,255,255,0.2);
}
#skills li a:hover .icon {
  color: rgba(0,0,0,0.6);
}
h1 {
  font-size: 3em;
}
h1 .title {
  color: #727170;
}
a:hover,
a:focus {
  box-shadow: 0 0px;
}
#bigHalfCircle path {
  fill: #3498db;
  stroke: #3498db;
}
.icon-graduate {
  background: url("http://tr-blank.github.io/images/graduate34.svg") no-repeat center;
  background-size: 18px;
  width: 18px;
  display: inline-block;
  height: 16px;
}
.ui.teal.button {
  background: #00acc1;
}
.ui.button > .icon {
  color: rgba(255,255,255,0.8);
  margin: 0;
  font-size: 1.2em;
}
.ui.attached.button {
  -moz-box-shadow: 2px 0px 2px 0px rgba(39,41,43,0.15) !important;
  -webkit-box-shadow: 2px 0px 2px 0px rgba(39,41,43,0.15) !important;
  box-shadow: 2px 0px 2px 0px rgba(39,41,43,0.15) !important;
}
.ui.fixed.button {
  position: absolute;
  top: 30px;
  right: -51px;
  cursor: pointer;
  z-index: 30;
  padding: 0.7em 1em 0.7em;
}
.ui.fixed.button:hover {
  background: #00bcd4;
}
#works .td {
  vertical-align: top;
}
#works .viedo-td {
  width: 630px;
}
#works h3 {
  text-align: left;
}
#works .more {
  background: #fff;
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0 20px;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -webkit-transition: box-shadow 0.2s linear;
  -moz-transition: box-shadow 0.2s linear;
  -o-transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
}
#works .more:hover {
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
#works .more:hover .icon {
  color: rgba(0,0,0,0.9);
}
#works .icon {
  text-align: center;
  position: absolute;
  height: 25px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 1.5em;
  color: rgba(0,0,0,0.5);
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
#works .list {
  text-align: left;
}
#works .list .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
}
#works .list .box {
  background: #fff;
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px;
  width: 300px;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -webkit-transition: box-shadow 0.2s linear;
  -moz-transition: box-shadow 0.2s linear;
  -o-transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
}
#works .list .box:hover {
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
#works .list .pic {
  color: #868686;
  line-height: 20px;
  overflow: hidden;
  position: relative;
  max-height: 250px;
}
#works .list img {
  width: 100%;
}
#contact .follow a {
  color: #4b4b4b;
  font-size: 25px;
  padding: 0 10px;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
#contact .follow a:hover {
  color: #7a7a7a;
}
#contact ul {
  text-align: left;
  list-style-type: none;
  line-height: 25px;
  display: inline-block;
  margin: 50px 0;
}
#contact li {
  position: relative;
  font-size: 1.1em;
  display: inline-block;
  margin: 0px 50px;
}
#contact li i {
  position: absolute;
  left: -30px;
  top: 4px;
}
.footer {
  padding: 20px 0;
  font-size: 10px;
  color: #666;
  text-align: center;
}
/* ==========================================================================
   RWD
   ==========================================================================*/
